<style type="text/css">

    * {
        margin:0px;
        padding:0px;
    }

    #header {
        margin:auto;
        width:500px;
        font-family:Arial, Helvetica, sans-serif;
    }

    ul, ol {
        list-style:none;
    }

    .nav > li {
        float:right;
    }

    .nav li a {
        background-color:#000;
        color:#fff;
        text-decoration:none;
        padding:10px 12px;
        display:block;
    }

    .nav li a:hover {
        background-color:#434343;
    }

    .nav li ul {
        display:none;
        position:left;
        min-width:140px;
    }

    .nav li:hover > ul {
        display:block;
    }

    .nav li ul li {
        position:relative;
    }

    .nav li ul li ul {
        right:-140px;
        top:0px;
    }

</style>

<div id="wrapper">
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="">Panel de Administracion</a>
        </div>
        
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul id="active" class="nav navbar-nav side-nav">
                <li class="selected"><a href="PaginaPrincipal.html"><i class="fa fa-bullseye"></i> Inicio</a></li>
                <li><a href="#/registros/"><i class="fa fa-font"></i> Registros</a></li>
                <li><a href="#/registros/"><i class="fa fa-font"></i> Junta Directiva</a>
                    <!--<ul class="nav navbar-nav side-nav">
                        <li><a href="PaginaPrincipal.html"><i class="fa fa-bullseye"></i> Inicio</a></li>
                        <li><a href="#/registros/"><i class="fa fa-font"></i> Cliente</a></li>
                        <li><a href="#/registros/"><i class="fa fa-font"></i> Gerente</a></li>
                        <li><a href="#/registros/"><i class="fa fa-font"></i> Asesor</a></li>
                        <li><a href="#/registros/"><i class="fa fa-font"></i> Cajero    </a></li>
                    </ul>-->
                </li>                
            </ul>

            <!------------------------------------------------------------------------>


            
            <div id="header">
                <ul class="nav">
                    <li><a href="">Inicio</a></li>
                    <li><a href="">Servicios</a>
                        <ul>
                            <li><a href="">Submenu1</a></li>
                            <li><a href="">Submenu2</a></li>
                            <li><a href="">Submenu3</a></li>
                            <li><a href="">Submenu4</a>
                                <ul>
                                    <li><a href="">Submenu1</a></li>
                                    <li><a href="">Submenu2</a></li>
                                    <li><a href="">Submenu3</a></li>
                                    <li><a href="">Submenu4</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li><a href="">Acerca de</a>
                        <ul>
                            <li><a href="">Submenu1</a></li>
                            <li><a href="">Submenu2</a></li>
                            <li><a href="">Submenu3</a></li>
                            <li><a href="">Submenu4</a></li>
                        </ul>
                    </li>
                    <li><a href="">Contacto</a></li>
                </ul>
            </div>
            
            <!---------------------------------------------->


            <ul class="nav navbar-nav navbar-right navbar-user">                    
                <li class="">
                    <a href="#/inicio"><div ng-view ></div>
                        <div ng-controller="CtlLogIn">
                            <input type="button" class="btn-danger" value="Cerrar Sesion" id="btnLogOut" 
                                   ng-click="logOut()">    
                        </div>
                    </a>
                </li>                    
            </ul>
        </div>
    </nav>

</div>




<script type="text/javascript">
    jQuery(function ($) {
        var performance = [12, 43, 34, 22, 12, 33, 4, 17, 22, 34, 54, 67],
                visits = [123, 323, 443, 32],
                traffic = [
                    {
                        Source: "Direct", Amount: 323, Change: 53, Percent: 23, Target: 600
                    },
                    {
                        Source: "Refer", Amount: 345, Change: 34, Percent: 45, Target: 567
                    },
                    {
                        Source: "Social", Amount: 567, Change: 67, Percent: 23, Target: 456
                    },
                    {
                        Source: "Search", Amount: 234, Change: 23, Percent: 56, Target: 890
                    },
                    {
                        Source: "Internal", Amount: 111, Change: 78, Percent: 12, Target: 345
                    }];


        $("#shieldui-chart1").shieldChart({
            theme: "dark",
            primaryHeader: {
                text: "Visitors"
            },
            exportOptions: {
                image: false,
                print: false
            },
            dataSeries: [{
                    seriesType: "area",
                    collectionAlias: "Q Data",
                    data: performance
                }]
        });

        $("#shieldui-chart2").shieldChart({
            theme: "dark",
            primaryHeader: {
                text: "Traffic Per week"
            },
            exportOptions: {
                image: false,
                print: false
            },
            dataSeries: [{
                    seriesType: "pie",
                    collectionAlias: "traffic",
                    data: visits
                }]
        });

        $("#shieldui-grid1").shieldGrid({
            dataSource: {
                data: traffic
            },
            sorting: {
                multiple: true
            },
            rowHover: false,
            paging: false,
            columns: [
                {field: "Source", width: "170px", title: "Source"},
                {field: "Amount", title: "Amount"},
                {field: "Percent", title: "Percent", format: "{0} %"},
                {field: "Target", title: "Target"},
            ]
        });
    });
</script>


