
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Login Users</title>
        <link rel="stylesheet" type="text/css" href="EstiloPlantilla/bootstrap/css/bootstrap.min.css" />
        <link rel="stylesheet" type="text/css" href="EstiloPlantilla/font-awesome/css/font-awesome.min.css" />
       
        <link href="EstiloPlantilla/MisEstilosCss/EstiloFondos.css" rel="stylesheet" type="text/css"/>
        <script src="Resources/BowerComponents/jquery/dist/jquery.min.js" type="text/javascript"></script>
        <script src="Resources/BowerComponents/angular/angular.min.js" type="text/javascript"></script>
        <script type="text/javascript" src="EstiloPlantilla/js/jquery-1.10.2.min.js"></script>
        <script type="text/javascript" src="EstiloPlantilla/bootstrap/js/bootstrap.min.js"></script>   
        <!-- DEPENDENCIAS ADICIONALES ANGULAR -->        
        <!-- ARCHIVO NECESARIO PARA EL MASTER PAGE -->
        <!-- PERMITE HACER EL ENRUTAMIENTO DE URL'S -->
        <script src="Resources/BowerComponents/angular-route/angular-route.min.js" type="text/javascript"></script>


        <!-- ARCHIVOS PROPIOS -->
        <script src="Resources/js/General/app.js" type="text/javascript"></script>


        <!-- ARCHIVOS PROPIOS DEL FORMULARIO-->
        <script src="Resources/js/login/logInCtl.js" type="text/javascript"></script>
        <script src="Resources/js/login/logInSer.js" type="text/javascript"></script>


    </head>  
    <body ng-app="appPrincipal">
        <div class="container">
            <div class="col-lg-12">
                <form ng-controller="CtlLogIn" name="formLogIn" class="contacto col-lg-9" method="get">
                    <div class="form-group col-lg-7" ng-class="{'has-error':formLogIn.txtUsuario.$invalid,
                 'has-success':formLogIn.txtUsuario.$valid}">
                        <h1>Logueo de usuarios</h1>
                        <p class="lead">Bienvenido por favor ingresa tus datos</p>
                        <br>
                        <label for="txtUsuario">
                            Usuario
                        </label>
                        <input id="txtUsuario" type="text" class="form-control input-lg"
                               placeholder="Ingrese tu nombre de usuario" name="txtUsuario"
                               ng-model="identificacion.usuario" required>   
                    </div>
                    <div class="form-group col-lg-7" ng-class="{'has-error':formLogIn.txtPassword.$invalid,
                 'has-success':formLogIn.txtPassword.$valid}">
                        <label for="txtPassword">
                            Password
                        </label>
                        <input id="txtPassword" type="password" class="form-control input-lg"
                               placeholder="Ingresa la clave de tu cuenta" name="txtPassword"
                               ng-model="identificacion.password" required>
                    </div>
                    <div class="col-lg-3">
                        <input type="button"  class="btn btn-lg btn-primary" value="Ingresar" ng-click="buscar(formLogIn.$valid)" id="btnSearch">
                    </div>
                </form>
            </div>
            <br/> 
            <br/> 
            <br/>           
            <div class="col-lg-9">
                                
                <div class="col-lg-12 text-center v-center" style="font-size: 39pt;">
                    <p class="lead">Siguenos para mayor informaci&oacute;n</p>
                    <a href="#"><span class="avatar"><i class="fa fa-google-plus"></i></span></a>
                    <a href="#"><span class="avatar"><i class="fa fa-linkedin"></i></span></a>
                    <a href="#"><span class="avatar"><i class="fa fa-facebook"></i></span></a>
                    <a href="#"><span class="avatar"><i class="fa fa-github"></i></span></a>
                </div>
            </div>
        </div>
    </body>
</html>
