
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Administrador</title>

        <link rel="stylesheet" type="text/css" href="EstiloPlantilla/bootstrap/css/bootstrap.min.css" />
        <link rel="stylesheet" type="text/css" href="EstiloPlantilla/font-awesome/css/font-awesome.min.css" />
        <link rel="stylesheet" type="text/css" href="EstiloPlantilla/css/local.css" />
        <link href="EstiloPlantilla/MisEstilosCss/EstiloFondos.css" rel="stylesheet" type="text/css"/>
        <script type="text/javascript" src="EstiloPlantilla/js/jquery-1.10.2.min.js"></script>
        <script type="text/javascript" src="EstiloPlantilla/bootstrap/js/bootstrap.min.js"></script>

        <!-- you need to include the shieldui css and js assets in order for the charts to work -->
        <link rel="stylesheet" type="text/css" href="http://www.shieldui.com/shared/components/latest/css/light-bootstrap/all.min.css" />
        <link id="gridcss" rel="stylesheet" type="text/css" href="http://www.shieldui.com/shared/components/latest/css/dark-bootstrap/all.min.css" />

        <script type="text/javascript" src="http://www.shieldui.com/shared/components/latest/js/shieldui-all.min.js"></script>
        <script type="text/javascript" src="http://www.prepbootstrap.com/Content/js/gridData.js"></script>

        <!-------------------------------------empiezo depencias del proyecto-->
        <!-- ARCHIVOS MINIMOS NECESARIOS DEL BOWER -->

        <script src="Resources/BowerComponents/jquery/dist/jquery.min.js" type="text/javascript"></script>

        <script src="Resources/BowerComponents/angular/angular.min.js" type="text/javascript"></script>
        <!-- DEPENDENCIAS ADICIONALES ANGULAR -->        
        <!-- ARCHIVO NECESARIO PARA EL MASTER PAGE -->
        <!-- PERMITE HACER EL ENRUTAMIENTO DE URL'S -->
        <script src="Resources/BowerComponents/angular-route/angular-route.min.js" type="text/javascript"></script>


        <!-- ARCHIVOS PROPIOS -->
        <script src="Resources/js/General/appMasterPageAsesor.js" type="text/javascript"></script>
        <!-- ARCHIVOS PROPIOS DEL FORMULARIO-->
        <script src="Resources/js/login/logInCtl.js" type="text/javascript"></script>
        <script src="Resources/js/login/logInSer.js" type="text/javascript"></script>
        <script src="Resources/js/cliente/clienteCtl.js" type="text/javascript"></script>
        <script src="Resources/js/cliente/clienteSer.js" type="text/javascript"></script>
    </head>
    <body ng-app="appMasterPageAsesor" ng-controller="CtlValidate" ng-show="sesion">        
        <div ng-include="'template/menuAdministrador.html'"></div>

        <div class="container">            
            <!-- FORMULARIO LOGIN -->
            <form ng-controller="CtlCliente" name="formCliente">
                <div id="centrar">
                <table>
                   
                    <tr>
                        <td>
                            <label>Codigo</label>                        
                        </td>
                        <td>
                            <!-- Se asocial el modelo al campo-->
                            <input type="text" id="txtCodigo" name="codigo" 
                                   ng-model="obj.codigo" required>
                        </td>                     
                    </tr>
                    
                    <tr>
                        <td>
                            <label>Nombre</label>                        
                        </td>
                        <td>
                            <!-- Se asocial el modelo al campo-->
                            <input type="text" id="txtNombre" name="nombre" 
                                   ng-model="obj.nombre" required>
                        </td>                     
                    </tr>

                    <tr>
                        <td>
                            <label>Apellido</label>                        
                        </td>
                        <td>
                            <input type="text" id="txtApellido" name="apellido" 
                                   ng-model="obj.apellido" required>
                        </td>                     
                    </tr>
                    <tr>
                        <td>
                            <label>Cedula</label>                        
                        </td>
                        <td>
                            <!-- Se asocial el modelo al campo-->
                            <input type="text" id="txtCedula" name="cedula" 
                                   ng-model="obj.cedula" required>
                        </td>                     
                    </tr>
                    <tr>
                        <td>
                            <label>Edad</label>                        
                        </td>
                        <td>
                            <!-- Se asocial el modelo al campo-->
                            <input type="text" id="txtEdad" name="edad" 
                                   ng-model="obj.edad" required>
                        </td>                     
                    </tr>

                    <tr>
                        <td>

                        </td>
                        <td>
                            <!-- Se envia por parametro si esta bien diligenciado
                            el formulario o no-->
                            <input type="button" value="Guardar" id="btnGuardar" 
                                   ng-click="guardarCliente(formCliente.$valid)">                       


                            <input type="button" value="Buscar" id="btnBuscar" 
                                   ng-click="buscar(formCliente.$valid)">    
                        </td>
                    </tr>
                </table>
                </div>
            </form>
            <!--END FORMULARIO LOGIN -->
        </div>   

    </body>
</html>
